@import 'tailwindcss';

@font-face {
    font-family: 'Mojangles';
    src: url('$lib/font/26.2-Minecraft-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mojangles';
    src: url('$lib/font/26.2-Minecraft-Italic.otf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Mojangles';
    src: url('$lib/font/26.2-Minecraft-Bold.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Mojangles';
    src: url('$lib/font/26.2-Minecraft-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
}

@theme {
    --font-sans: Mojangles, sans-serif;
}